body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.main-page {
  background: url("../img/nerds-index.jpg") no-repeat 0 0;
}

a {
  text-decoration: none;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  /*background-color: #eeeeee;*/

}

.logo {
  width: 160px;
  height: 65px;
  margin-top: 50px;
  margin-left: 140px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 75px;
  margin-left: 200px;
}

.site-navigation {
  min-width: 450px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  display: inline;
  margin-right: 43px;
}

.recycle {
  width: 150px;
  margin: 0px;
  padding-left: 75px;

  list-style: none;
}


.site-navigation a,
.recycle a {
  color: #000000;
}

.site-navigation a:hover,
.recycle a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.recycle a:active {
  color: #000000;
  opacity: 0.5;
}

.current a {
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

/*Слайдеры */

.slider {
  display: flex;
  margin: 0;
  padding: 0;

  /*background-color: #eeeeee;*/

}

.slider-description {
  margin-left: 140px;

  order: -1;

}

.slider-img {
  margin-left: 55px;

}

.slider .slider-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider .slider-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.slider .slider-button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #fb565a;
}

.slider .slider-button:hover {
  background-color: #e74246;
}

.slider .slider-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

/*Продукция*/

.products-list {
  min-height: 450px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 140px;

  list-style: none;

}

.products-item {
  width: 300px;
  margin-right: 100px;

}

.products-list h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.products-list a {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.websites-button {
  background-color: #fb565a;
}

.apps-button {
  background-color: #00ca74;
}

.presentations-button {
  background-color: #efc84a;
}

.websites-button:hover {
  background-color: #e74246;
}
.apps-button:hover {
  background-color: #00bc6c;
}
.presentations-button:hover {
  background-color: #eab534;
}

.presentations-button {
  background-color: #efc84a;
}

.websites-button:active {
  background-color: #d7373b;
}
.apps-button:hover:active {
  background-color: #00aa62;
}
.presentations-button:active {
  background-color: #e5a722;
}

/*О дизайн-студии «Нёрдс»*/

.studio {
  display: flex;
  min-height: 500px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
}

.studio-article {
  width: 660px;
  margin-top: 20px;
}

.studio-figures {
  width: 360px;
  margin-left: 140px;
  margin-top: 20px;
}

.studio-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.studio-text {
  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

.studio-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.studio-products {
  list-style: none;
}

.studio-products li {
  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

.studio-products span {
  color: #d7373b;
}

.studio-text dt {
  font-size: 45px;
  line-height: 10.06px;

  color: #000000;
}

.studio-text span {
  font-size: 24px;
  line-height: 10px;
}

/*Лого партнеров*/

.partners-logo {
  min-height: 200px;
  margin: 0;
  margin-top: 20px;
  margin-left: 86px;
  padding: 0;

}

.partners-logo li {
  display: inline-block;
  margin-left: 85px;
  margin-top: 60px;
}

/*CATALOG.html*/

.inner-page {

  /*временно*/
  background: url("../img/nerds-catalog.jpg") no-repeat 0 0;
}

.inner-container {
  margin: 0;
  padding: 0;
  margin-left: 100px;
  width: 1200px;


  /*временно*/
  outline: 1px solid blue;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-bottom: 70px;

  /*временно*/
  outline: 1px solid grey;
}

.page-title h1 {
  font-size: 55px;
  line-height: 55px;
  padding-top: 40px;
  margin-left: 40px;
  text-align: center;
  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  /*временно*/
  outline: 1px solid green;
}

.filters {
  width: 280px;
  margin-top: 30px;
  padding-top: 20px;
  margin-left: 20px;

  /*временно*/
  outline: 1px solid green;
}

.sort {
  min-height: 50px;
  margin-left: 20px;
  /*временно*/
  outline: 1px solid green;
}

.sort-list li {
  display: inline;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
    font-size: 16px;
    line-height: 40px;
    color: #283136;
    list-style: none;
}

.filter-price .range {
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
  border: none;
}


.filter-price label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filter-price input {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
  border: none;
  }

.filter-grid input:hover + label,
.filter-grid input:focus + label,
.filter-features input:hover + label,
.filter-features input:focus + label {
  color: #283136;
}

.filter-grid input:disabled + label,
.filter-features  input:disabled + label {
  color: #283136;

  opacity: 0.3;
}

.filter-button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #eeeeee;
}

.filter-button:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #dfdfdf;
}

.filter-button:active {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #d5d5d5;
}

.sort h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.sort ul {
  list-style: none;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.gallery ul {
  list-style: none;
}

.gallery-container {
  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 135px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style: none;

  /* Временно для сетки */
  outline: 1px solid yellow;
}

.gallery-item {
  width: 360px;
  margin: 0;
  padding-bottom: 0;
  margin-bottom: 35px;
  padding-top: 40px;
  /*временно*/
  outline: 1px solid red;

}

.gallery-item:nth-child(2n) {
  margin-left: 40px;
}

.gallery-about {
  background-color: #eeeeee;
}

.gallery-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

  color: #000000;
}

.gallery-title:hover {
  color: #fb565a;
}

.gallery-title:active {
  color: #000000;
  opacity: 0.3;
}

.gallery-description {
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #666666;
}

.gallery-price {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;
}

.gallery-price:hover {
  background-color: #e74246;
}

.gallery-price:active {
  background-color: #d7373b;
}

/*Пагинация*/

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 50px;
}

.pagination-list li {
  display: inline;
}


.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover{
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/*Контактная информация*/

.contacts {
  position: relative;
  width: 1440px;
  height: 416px;
}

.contacts-map {
  margin: 0;
  padding: 0;
  margin-top: 50px;

}

.contacts-text {
 position: absolute;
 margin: 0;
 padding: 0;
 width: 320px;
 height: 310px;
 top: 55px;
 left: 140px;
 text-align: center;
 vertical-align: middle;

  background-color: #ffffff;
}

.contacts-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-address {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  }

  .contacts-address a {
    text-decoration: none;
    color: #666666;
  }

  .contacts-button {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
  }

/*футер*/

.main-footer {
  display: flex;
  align-items: center;
  min-height: 217px;
  margin: 0;
  padding: 0;
  margin-left: 200px;
}

.footer-social li {
  display: inline;
  }

.footer-slogan {
  width: 550px;
  margin-left: 235px;

}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-footer span {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: #000000;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  background-color: #e1e1e1;
  border-radius: 50%;
}

.main-footer a:hover {
  background-color: #e74246;
  border-radius: 50%;
}

.main-footer a:active {
  background-color: #d7373b;
  border-radius: 50%;
}

/*Напишите нам*/
/*
.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}

.write-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-us input {
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid  #d7dcde;
}

.write-us input:active {
  border: none;
}

.write-us input:hover {
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid  #b4b9bb;
}

.write-us input:focus {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid  #000000;
}

.write-us input:invalid {
  font-size: 16px;
  line-height: 18px;
  color: #e74246;
  background-color: #ffffff;
  border: 2px solid  #e74246;
}

.write-us .button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
}
*/










.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
