body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-page {
  background: url("../img/nerds-index.jpg") no-repeat top center;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

}

.main-navigation {
  display: flex;
  margin-top: 50px;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

    /*background-color: #eeeeee;*/
}

.logo {
  width: 160px;

}

.logo:hover path {
  fill: #303030;
}

.logo:active path {
  fill: #a6a6a6;
}

.nav-container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-left: 200px;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 0;
  padding: 0;
  margin-top: 25px;

  list-style: none;

}

.site-navigation li{
  margin-left: 1px;
}

.current {
  width: 75px;
  height: 34px;
  margin-left: -1px;
  margin-right: 45px;
  border-bottom: 2px solid #fb565a;
}

.user-navigation {
  display: flex;
  width: 160px;

  list-style: none;

}


.user-navigation .recycle {
  position: relative;
  padding-left: 85px;
}

.recycle::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 45px;


  width: 15px;
  height: 15px;

  background: url("../img/cart-icon.svg") no-repeat 0 0;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-right: 45px;
  vertical-align: middle;
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.5;
}


/*Слайдеры */

.slider {
  min-height: 405px;

}

.slider .slider-slogan {
  font-size: 55px;
  min-height: 210px;
  margin: 0;
  padding-top: 62px;

  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider .slider-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.slider .slider-button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #fb565a;
}

.slider .slider-button:hover {
  background-color: #e74246;
}

.slider .slider-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}


/*Продукция*/

.products-list {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  margin: 0;
  padding: 0;
  margin-top: 95px;
  margin-right: 60px;

  list-style: none;

}

.products-item {
  width: 300px;

}

.websites {
  background: url("../img/illustration-1-300x146.png") no-repeat 0 0;
}

.apps {
  background: url("../img/illustration-2-300x146.png") no-repeat 0 0;
}

.presentations {
  background: url("../img/illustration-3-300x146.png") no-repeat 0 0;
}

.products-list h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 170px;

  text-transform: uppercase;
  color: #000000;

}

.products-list p {
  font-size: 16px;
  line-height: 24px;


  color: #283136;
}

.products-button {
  display: block;
  width: 160px;
  padding: 13px 0;
  margin-top: 33px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border-radius: 3px;

  color: #ffffff;
}

.websites-button {
  background-color: #fb565a;
}

.apps-button {
  background-color: #00ca74;
}

.presentations-button {
  background-color: #efc84a;
}

.websites-button:hover {
  background-color: #e74246;
}
.apps-button:hover {
  background-color: #00bc6c;
}
.presentations-button:hover {
  background-color: #eab534;
}

.presentations-button {
  background-color: #efc84a;
}

.websites-button:active {
  background-color: #d7373b;
}
.apps-button:hover:active {
  background-color: #00aa62;
}
.presentations-button:active {
  background-color: #e5a722;
}

/*О дизайн-студии «Нёрдс»*/

.studio {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  margin-top: 60px;
}

.studio-article {
  width: 660px;

}

.studio-figures {
  width: 360px;

}

.studio-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.studio-text {
  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

.studio-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.studio-products {
  list-style: none;
}

.studio-products li {
  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

.studio-products span {
  color: #d7373b;
}

.studio-text dt {
  font-size: 45px;
  line-height: 10.06px;

  color: #000000;
}

.studio-text span {
  font-size: 24px;
  line-height: 10px;
}

/*Лого партнеров*/

.partners-logo {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  margin-top: 10px;
  padding-top: 50px;

}

.partners-logo li {
  list-style: none;
}


/*CATALOG.html*/

.inner-page {

    background: url("../img/nerds-catalog.jpg") no-repeat top center;
}

.page-title {
  padding-bottom: 70px;

}

.page-title h1 {
  font-size: 55px;
  line-height: 55px;
  padding-top: 30px;

  text-align: center;
  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;

}

.filters {
  width: 260px;
  margin: 0;
  padding: 0;

}

.sort {
  min-height: 50px;

}

.sort-list li {
  display: inline;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 40px;
    color: #283136;
    list-style: none;

}

.filter-price {
  min-height: 210px;
  margin: 0;
  padding: 0;
  margin-top: 55px;

}

.filter-price .range {
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
  border: none;
}


.filter-price label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filter-price input {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
  border: none;
  }

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-grid {
  margin: 0;
  padding: 0;
  margin-top: 55px;

}

.filter-grid ul,
.filter-features ul {
  margin-top: 6px;
  padding-left: 36px;
}

.filter-features {
  margin: 0;
  padding: 0;
  margin-top: 35px;

}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -36px;
  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -36px;
  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input:hover + label,
.filter-input:focus + label {
  opacity: 1;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.1;
}

.filter-button {
  width: 260px;
  height: 50px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  background-color: #eeeeee;
  outline: none;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.filters-container {
  position: relative;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  top: 0;
  left: 400px;
}


.sort h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.sort ul {
  display: flex;
  list-style: none;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.gallery ul {
  list-style: none;
}

.gallery-container {
  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 135px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery-item {
  position: relative;
  width: 360px;
  margin-bottom: 35px;
  padding-top: 39px;

  background: url("../img/browser.svg") no-repeat 0 0;
  opacity: 0.1;
}

.gallery-item img {
  display: block;

}

.gallery-item:nth-child(2n) {
  margin-left: 40px;
}

.gallery-about {
  position: absolute;
  bottom: 0;
  width: 360px;
  min-height: 233px;

  text-align: center;

  background-color: #eeeeee;
  }

.gallery-about h3 {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.gallery-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
}

.gallery-title:hover {
  color: #fb565a;
}

.gallery-title:active {
  color: #000000;
  opacity: 0.3;
}

.gallery-description {
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #666666;
}

.gallery-price {
  display: block;
  width: 200px;
  padding: 13px 0;
  margin: 30px auto;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border-radius: 3px;

  color: #ffffff;
  background-color: #fb565a;
}

.gallery-price:hover {
  background-color: #e74246;
}

.gallery-price:active {
  background-color: #d7373b;
}

/*Пагинация*/

.pagination-list {
  list-style: none;

  /* Временно для сетки */
  min-height: 55px;
}

.pagination-list li {
  display: inline;
}


.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover{
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/*Контактная информация*/

.contacts {
  position: relative;
  min-height: 417px;
  margin-top: 100px;
}

.inner-contacts {
  margin-top: 50px;
}

.contacts-text {
 position: absolute;
 top: 50px;
 width: 320px;
 height: 310px;

text-align: center;
vertical-align: middle;

 background-color: #ffffff;

 }

.contacts-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-address {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  }

    .contacts-button {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
  }

/*футер*/

.main-footer {
  display: flex;

  min-height: 200px;
}

.inner-footer {
  margin-top: 5px;
}

.footer-social {
  display: flex;
  width: 260px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 57px;
  }

.footer-slogan {
  width: 550px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  margin-top: 53px;

}

.footer-slogan {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-footer span {
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
  color: #000000;
}

.main-footer ul {
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
  border-radius: 50%;
}

.social-button:active {
  background-color: #d7373b;
  border-radius: 50%;
}

/*Напишите нам*/

.modal {
  position: fixed;

  color: #000000;
  background-color: #ffffff;
}

.modal-writeus {
  top: 0;
  left: 50%;

  display: none;

  width: 760px;
  padding: 60px 100px;
  margin-left: -480px;

}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;

  width: 22px;
  height: 22px;

  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  right: 2px;

  width: 19px;
  height: 3px;

  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close::before:hover,
.modal-close::after:hover {
  background-color: #fb565e;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 50px;
}

.writeus-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  margin: 0;
  padding: 0;
}

.form-name,
.form-email {
  width: 360px;

margin: 0;
padding: 0;
}

.form-text {
  width: 760px;
  margin: 0;
  padding: 0;
}

.writeus-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  color: #000000;
}

.writeus-form input[type="text"],
.writeus-form input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 18px;

  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid  #d7dcde;
  border-radius: 3px;
  outline:none;
}

.form-text {
  margin-top: 35px;
}

textarea {
  box-sizing: border-box;
  width: 100%;

  margin-top: 10px;
  padding: 15px 15px;
  font-size: 16px;
  line-height: 18px;

  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid  #d7dcde;
  border-radius: 3px;
  outline:none;
}

.writeus-form input:hover,
 textarea:hover {
  border: 2px solid  #b4b9bb;
}

.writeus-form input:focus,
 textarea:focus {
   color: #444444;
   border: 2px solid  #000000;
 }

 .writeus-form input:invalid {
   color: #e74246;
   border: 2px solid  #e74246;
 }

 .writeus-form .button {
   display: block;
   width: 260px;
   height: 50px;

   margin-top: 48px;

   font-size: 16px;
   line-height: 18px;
   text-transform: uppercase;
   text-align: center;
   vertical-align: middle;

   color: #ffffff;
   background-color: #fb565a;
   border-radius: 3px;
 }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
