body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-page {
  background: url("../img/nerds-index.jpg") no-repeat top center;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

}

.main-navigation {
  display: flex;
  margin-top: 50px;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

    /*background-color: #eeeeee;*/
}

.logo {
  width: 160px;
}

.logo:hover img {
  opacity: 0.8;
}

.logo:active img {
  opacity: 0.3;
}

.nav-container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-left: 200px;

}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 0;
  padding: 0;
  margin-top: 25px;

  list-style: none;

}

.site-navigation li{
  margin-left: 1px;
}

.current {
  width: 75px;
  height: 34px;
  margin-left: -1px;
  margin-right: 45px;
  border-bottom: 2px solid #fb565a;
}

.user-navigation {
  display: flex;
  width: 160px;

  list-style: none;

}


.user-navigation .recycle {
  position: relative;
  padding-left: 85px;
}

.recycle::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 45px;


  width: 15px;
  height: 15px;

  background: url("../img/cart-icon.svg") no-repeat 0 0;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-right: 45px;
  vertical-align: middle;
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.5;
}


/*Слайдеры */
.slider {
  min-height: 420px;

  background-color: #eeeeee;

}

.slider-description {
  min-height: 420px;
}

.slide1 {
  background-image: url("../img/slide1-698x413.png");
  background-repeat: no-repeat;
  background-position: 430px 7px;
}

.slide2 {
  background-image: url("../img/slide2-663x430.png");
  background-repeat: no-repeat;
  background-position: 500px 7px;
}

.slide3 {
  background-image: url("../img/slide3-759x411.png");
  background-repeat: no-repeat;
  background-position: 400px 0;
}

.slider-slogan {
  font-size: 55px;
  margin: 0;
  padding-top: 66px;

  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider .slider-text {
  margin: 0;
  padding: 0;
  margin-top: 28px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.slider .slider-button {
  display: block;
  width: 240px;
  margin-top: 40px;
  padding: 15px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider .slider-button:hover {
  background-color: #e74246;
}

.slider .slider-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


/*Продукция*/

.products-list {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-right: 60px;

  list-style: none;
}

.products-item {
  width: 300px;

}

.websites {
  background: url("../img/illustration-1-300x146.png") no-repeat 0 0;
}

.apps {
  background: url("../img/illustration-2-300x146.png") no-repeat 0 0;
}

.presentations {
  background: url("../img/illustration-3-300x146.png") no-repeat 0 0;
}

.products-list h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 170px;

  text-transform: uppercase;
  color: #000000;

}

.products-list p {
  font-size: 16px;
  line-height: 24px;


  color: #283136;
}

.products-button {
  display: block;
  width: 160px;
  padding: 15px 0;
  margin-top: 34px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
  border: none;
}

.websites-button {
  background-color: #fb565a;
}

.apps-button {
  background-color: #00ca74;
}

.presentations-button {
  background-color: #efc84a;
}

.websites-button:hover {
  background-color: #e74246;
}
.apps-button:hover {
  background-color: #00bc6c;
}
.presentations-button:hover {
  background-color: #eab534;
}

.presentations-button {
  background-color: #efc84a;
}

.websites-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.apps-button:hover:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: 0 3px rgba(0, 153, 88, 1) inset;
}

.presentations-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: 0 3px rgba(206, 150, 31, 1) inset;
}

.line {
  display: block;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
  border: none;

}

.line1 {
  margin: 25px auto;
}

.line2 {
  margin-top: 70px;
}

.line3 {
  margin-top: 38px;
}

/*О дизайн-студии «Нёрдс»*/

.studio {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.studio-article {
  width: 660px;
}

.studio-figures {
  width: 360px;
  margin: 0;
  padding: 0;

}

.studio-title {
  margin: 0;
  padding: 0;
  margin-top: 45px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.studio-text {
  margin: 0;
  padding: 0;
  margin-top: 35px;

  font-size: 16px;
  line-height: 24px;

  color: #283136;
}

.studio-subtitle {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  text-transform: uppercase;
  color: #000000;
}

.subtitle1 {
  margin-top: 39px;
}

.subtitle2 {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 17px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  text-transform: uppercase;
  color: #000000;
}

.studio-products {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 35px;

  font-size: 16px;
  line-height: 24px;
  color: #283136;

}

.studio-point {
  position: relative;
}


.studio-point::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.studio-img {
  margin: 0;
  padding: 0;
  margin-top: 12px;

}

.studio-table {
  width: 360px;
  margin: 0;
  padding: 0;
  margin-top: 30px;

}

.studio-table th {
  padding: 0;
  padding-top: 19px;
  padding-right: 15px;
  font-size: 45px;
  text-align: left;

  color: #000000;
}

.studio-table th:last-child {
  padding-right: 0;
  padding-left: 5px;
}

.studio-table td {
  padding: 0;
  padding-top: 26px;
  padding-left: 4px;
  line-height: 20px;
}

.studio-table td:first-child {
  padding-left: 0;
}

.studio-table td:last-child {
  padding-left: 7px;
}

.studio-table sup {
  position: relative;
  top: -15px;
  font-size: 26px;

}

/*Лого партнеров*/

.partners-block {
  display: flex;
  margin-top: 48px;
  padding: 0;

}

.partners-block li {
  list-style: none;

}

.logo-academy {
  position: relative;
  width: 255px;
  padding-top: 14px;
  padding-left: 29px;
}

.logo-academy::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 5px;
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
}

.logo-borodinsky {
  position: relative;
  width: 260px;
  padding-left: 40px;
  }

.logo-borodinsky::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 5px;
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
}

.logo-pink {
  position: relative;
  width: 250px;
  padding-top: 18px;
  padding-left: 50px;

}

.logo-pink::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 5px;
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
}

.logo-mishka {
  width: 200px;
  padding-top: 5px;
  padding-left: 60px;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.1;
}




/*CATALOG.html*/

.inner-page {
    /*
    background: url("../img/nerds-catalog.jpg") no-repeat top center;
    */
}

.page-title {
  padding-bottom: 70px;

}

.page-title h1 {
  font-size: 55px;
  line-height: 55px;
  padding-top: 30px;

  text-align: center;
  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;

}

/*ФИЛЬТРЫ*/

.filters {
  width: 260px;
  margin: 0;
  padding: 0;

}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 40px;
    color: #283136;
    list-style: none;

}

/*СТОИМОСТЬ*/
.filter-price {
 margin: 0;
 padding: 0;
 margin-top: 56px;
 border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;

  vertical-align: middle;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*СЕТКА + ОСОБЕННОСТИ*/
.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-grid {
  margin: 0;
  padding: 0;
  margin-top: 55px;
}

.filter-grid ul,
.filter-features ul {
  margin-top: 6px;
  padding-left: 36px;
}

.filter-features {
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -36px;
  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -36px;
  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 1;
}

.filter-input:disabled + label::before {
  color: #283136;
  opacity: 0.1;
}

.filter-button {
  display: block;
  width: 260px;
  height: 50px;
  margin-top: 40px;
  padding: 15px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
  outline: none;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(191, 191, 191, 1) inset;
}

.filters-container {
  position: relative;
}

/*СОРТИРОВАТЬ*/
.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  top: 0;
  left: 400px;

}

.sort h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.sort ul {
  display: flex;
  list-style: none;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.gallery ul {
  list-style: none;
}

.gallery-container {
  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 135px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery-item {
  position: relative;
  width: 360px;
  margin-bottom: 35px;
  padding-top: 39px;

  background: url("../img/browser.svg") no-repeat 0 0;
  opacity: 0.1;
}

.gallery-item img {
  display: block;

}

.gallery-item:nth-child(2n) {
  margin-left: 40px;
}

.gallery-about {
  position: absolute;
  bottom: 0;
  width: 360px;
  min-height: 233px;

  text-align: center;

  background-color: #eeeeee;
  }

.gallery-about h3 {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.gallery-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  color: #000000;
}

.gallery-title:hover {
  color: #fb565a;
}

.gallery-title:active {
  color: #000000;
  opacity: 0.3;
}

.gallery-description {
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #666666;
}

.gallery-price {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 15px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.gallery-price:hover {
  background-color: #e74246;
}

.gallery-price:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Пагинация*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 24px;

  list-style: none;
}

.pagination-item {
  margin-right: 12px;
}

.pagination-item a {
  display: block;
  padding: 15px 20px;

  font-size: 16px;
  line-height: 18px;
  color: #000000;

  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.pagination-item:last-child {
  display: block;
  width: 260px;

}

.pagination-item a:hover{
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(191, 191, 191, 1) inset;
}

.pagination-item-current a {
  padding: 12px 17px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/*Контактная информация*/

.contacts {
  position: relative;
  min-height: 417px;
  margin-top: 80px;

}

.inner-contacts {
  margin-top: 50px;
}

.contacts-text {
 position: absolute;
 top: 50px;
 width: 270px;
 padding-top: 34px;
 padding-left: 50px;
 text-align: left;

 background-color: #ffffff;
}

.contacts-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-address {
  font-size: 16px;
  line-height: 18px;
  padding-top: 5px;
  color: #666666;
  }

.contacts-address a {
  text-decoration: none;
  color: #666666;
}

.contacts-button {
  display: block;
  width: 220px;
  margin-top: 35px;
  margin-bottom: 50px;
  padding: 15px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  outline: none;
}

.contacts-button:hover {
  background-color: #e74246;
}

.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*футер*/

.main-footer {
  display: flex;
  min-height: 210px;
  margin-top: 7px;

}

.inner-footer {
  margin-top: 5px;
}

.footer-social {
  display: flex;
  width: 260px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 57px;
  }

.footer-slogan {
  width: 550px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
  margin-top: 53px;

}

.footer-slogan {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-footer span {
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
  color: #000000;
}

.main-footer ul {
  list-style: none;
}

.social-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.vkontakte {
  background: url("../img/vk-icon.svg") no-repeat 50% 50%;
}

.facebook {
  background: url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.instagram {
  background: url("../img/insta-icon.svg") no-repeat 50% 50%;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(193, 49, 53, 1) inset;
}

/*Напишите нам*/

.modal {
  position: fixed;

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-writeus {
  top: 0;
  left: 50%;

  display: none;

  width: 760px;
  padding: 60px 100px;
  margin-left: -480px;

}

.modal button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}



.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;

  width: 22px;
  height: 22px;

  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;

  background: url("../img/close-cross.svg") no-repeat 0 0;
  opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.1;
}


.modal h2 {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 50px;
}

.writeus-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  margin: 0;
  padding: 0;
}

.form-name,
.form-email {
  width: 360px;

margin: 0;
padding: 0;
}

.form-text {
  width: 760px;
  margin: 0;
  padding: 0;
}

.writeus-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  color: #000000;
}

.writeus-form input[type="text"],
.writeus-form input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 18px;

  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid  #d7dcde;
  border-radius: 3px;
  outline:none;
}

.form-text {
  margin-top: 35px;
}

.form-text textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;

  margin-top: 10px;
  padding: 15px 15px;
  font-size: 16px;
  line-height: 18px;

  color: rgba(68, 68, 68, 0.5);
  background-color: #ffffff;
  border: 2px solid  #d7dcde;
  border-radius: 3px;
  outline:none;
}

.writeus-form input:hover,
 textarea:hover {
  border: 2px solid  #b4b9bb;
}

.writeus-form input:focus,
 textarea:focus {
   color: #444444;
   border: 2px solid  #000000;
 }

 .writeus-form input:invalid {
   color: #e74246;
   border: 2px solid  #e74246;
 }

 .writeus-form .button {
   display: block;
   width: 260px;
   height: 50px;

   margin-top: 48px;

   font-size: 16px;
   line-height: 18px;
   text-transform: uppercase;
   text-align: center;
   vertical-align: middle;

   color: #ffffff;
   background-color: #fb565a;
   border-radius: 3px;
 }

 .writeus-form .button:hover,
 .writeus-form .button:focus {
   background-color: #e74246;
 }

 .writeus-form .button:active {
   color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
 }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
